{% load i18n %}
<ul class="list-group">
{% for post in post_list %}
    <li class="list-group-item">
        {% include 'simsonet_posts/includes/post_detail.html' %}
        <!-- if page provides a wall ID, we print all posts and replies to them recursively -->
        {% if wall and post.wall and post.replies.count > 0 %}
            {% with post.replies.all as post_list %}
                {% include 'simsonet_posts/includes/post_list.html' %}
            {% endwith %}
        {% endif %}
    </li>
{% endfor %}
</ul>
