{% load i18n %}
<!-- user widget -->
{% with post.owner as user_badge %}
    {% include 'simsonet_posts/includes/user_widget.html' %}
{% endwith %}
<!-- timestamps -->
<span class="badge badge-light ml-2 p-2">{{ post.created_at }}</span>
{% if post.created_at != post.updated_at %}
    <span class="badge badge-secondary ml-2 p-2">{% trans 'edited' %} {{ post.updated_at }}</span>
{% endif %}
<!-- if user has replies or is a reply to another post but page does not provide a wall ID -->
{% if post.reply_to %}
    <a class="badge badge-primary ml-2 p-2" href="{% url 'post_detail' post.reply_to.id %}">{% trans "reply to" %}: {{ post.reply_to.created_at }} {{ post.reply_to.owner }}</a>
{% endif %}
{% if post.replies.count > 0 %}
    <a class="badge badge-primary ml-2 p-2" href="{% url 'post_detail' post.id %}">{% trans "replies" %}: {{ post.replies.count }}</a>
{% endif %}
{% if post.reposts.count > 0 %}
    <a class="badge badge-primary ml-2 p-2" href="{% url 'post_detail' post.id %}">{% trans "reposts" %}: {{ post.reposts.count }}</a>
{% endif %}
{{ post.content|safe }}
{% if not reply_to and not repost_of %}
    <a class="btn btn-primary" href="{% url 'post_create' %}?reply_to={{ post.id }}">{% trans "reply"|capfirst %}</a>
    <a class="btn btn-primary" href="{% url 'post_create' %}?repost_of={{ post.id }}">{% trans "repost"|capfirst %}</a>
{% endif %}
{% if post.repost_of %}
    <h5 class="text-muted ssn-repost">{% trans "original post"|capfirst %}</h5>
    <ul class="list-group"><li class="list-group-item">
    {% with post.repost_of as post  %}
        {% include 'simsonet_posts/includes/post_detail.html' %}
    {% endwith %}
    </li></ul>
{% endif %}