{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
<div class="container">
    <h1 class="ssn-posts-heading">
    {% if wall %}
        {% with wall.owner as user_badge %}
            {% include 'simsonet_posts/includes/user_widget.html' %}
        {% endwith %}
    {{ wall.name }}
    {% else %}
        {% with owner as user_badge %}
            {% include 'simsonet_posts/includes/user_widget.html' %}
        {% endwith %}
        {% trans 'all'|capfirst %}
    {% endif %}
    {% trans 'posts'|capfirst %}
    <a class="btn btn-primary" href="{% url 'post_create' %}?wall_id={{ wall.id }}">{% trans "create a post this wall"|capfirst %}</a>
    </h1>
    {% if post_list.count > 0 %}
        {% include 'simsonet_posts/includes/post_paginator.html' %}
        {% include 'simsonet_posts/includes/post_list.html' %}
        {% include 'simsonet_posts/includes/post_paginator.html' %}
    {% else %}
        <div class="alert alert-secondary">{% trans "no posts found"|capfirst %}.</div>
    {% endif %}
</div>
{% endblock content %}
